<ion-content class="ion-padding" style="--background: #16142C;">
  <div class="container">    
    
    <ion-buttons class="custom-button">
      <ion-back-button  defaultHref="bem-vindo"></ion-back-button>
    </ion-buttons>

    <img class="ilustracao" src="../assets/img/ilustracao2.png" alt="">
    <ion-button (click)="irParaProximaPagina()">Próximo</ion-button>
  
    <p class="texto-introducao">
      <b>Chega de procrastinar!</b>
      <br>
      <br>
      Esteja no controle do seu tempo 
      e alcance suas metas.</p>
  
  </div>
</ion-content>