<ion-content>
<div class="background">
  <ion-buttons class="custom-button">
    <ion-back-button  defaultHref="bem-vindo3"></ion-back-button>
  </ion-buttons>

      <ion-label class="login-label">Faça o Login</ion-label>
      <ion-input class="email-input" label="E-mail" label-placement="floating" fill="outline" placeholder="Digite seu E-mail"></ion-input>
      <ion-input class="senha-input" type="password" label="Senha" label-placement="floating" fill="outline" placeholder="Digite sua senha"></ion-input>

      <div class="wrapper">      
        <div class="ion-activatable ripple-parent custom-parent">
          <b class="texto-login">Fazer Login</b>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="ion-activatable ripple-parent custom-ripple rounded-rectangle">
          <img class="google-logo" src="../assets/img/google-logo.png" alt="Logo do Google">
          <span class="text-google">Login com o Google</span>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <ion-button class="botao-cadastro" (click)="telaCadastro()">
          <b class="texto-cadastro">Cadastrar-se</b>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
      </div>


        <div class="linha1"></div>
        <b class="text1">Não tem uma conta?</b>
        <div class="linha2"></div>

        <h3 class="text2">Crie uma!</h3>
</div>
</ion-content>
