    .background {
      background-color: #16142C !important;
      position: relative;
      height: 100%;
    }    
    .custom-button {
      position: absolute;
      left: 6.92%;
      right: 88.46%;
      top: 7.35%;
      bottom: 89.55%;
    }
    .login-label {
      position: absolute;
      width: 266px;
      height: 95px;
      left: 72px;
      top: 80px;
      font-family: 'Be Vietnam Pro', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 86.5%;
      /* or 35px */
      
      display: flex;
      align-items: center;
      
      color: #FFFFFF;
    }
    .email-input {
      position: absolute;
      width: 346px;
      height: 57px;
      left: 22px;
      top: 210px;
      background: #1F222A;
      border-radius: 8px;
    }
    .senha-input {
      position: absolute;
      width: 346px;
      height: 56px;
      left: 22px;
      top: 278px;
      background: #1F222A;
      border-radius: 8px;
    }
    .wrapper {
      display: flex;
      flex-wrap: wrap;
    
      align-items: center;
      justify-content: space-between;
      text-align: center;
    
      height: 170px;
      width: 400px;
    
      margin: 0 auto;
    }
    .ripple-parent {
      position: absolute;
      width: 295px;
      height: 54px;
      left: calc(50% - 295px/2 - 0.5px);
      top: 375px;

      display: flex;
      align-items: center;
      justify-content: center;
      background: #5598BD;    
      border-radius: 24px;
    }
    .custom-parent {
      color: #16142C;
    }
    .texto-login {
      color: #16142C;
      font-family: 'Be Vietnam Pro', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 21px;            
    }
    .rounded-rectangle {
      position: absolute;
      width: 232px;
      height: 49px;
      left: calc(50% - 232px/2);
      top: 492px;
      background: #1F222A;
      border-radius: 12px;      
    }
    .google-logo {
      position: absolute;
      width: 29.94px;
      height: 31px;
      left: 10px;
      top: 9px;
    }
    .text-google {
      color: #FFFFFF;
      margin-left: 20px;
    }
    .custom-ripple {
      visibility: inherit;
      border-radius: 12px;
      color: #501ace;
  }
  .text1 {
    position: absolute;
    width: 154px;
    height: 21px;
    top: 627px;
    left: 120px;

    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 86.5%;
    display: flex;
    text-align: center;
    color: #9C9D9F;
    justify-content: center;
    align-items: center;
  }
  .linha1 {
    position: absolute;
    width: 92px;
    height: 0px;
    left: 17px;
    top: 637px;
    border: 1px solid #33363E;
  }
  .linha2 {
    position: absolute;
    width: 92px;
    height: 0px;
    left: 286px;
    top: 637px;
    border: 1px solid #33363E;
  }
  .text2 {
    position: absolute;
    width: 101px;
    height: 21px;
    left: 37%;
    top: 662px;

    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 86.5%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9C9D9F;
    justify-content: center;
  }
  .botao-cadastro {
    position: absolute;
    width: 201px;
    height: 54px;
    left: 94px;
    top: 732px;
    --border-radius: 27px;
  .texto-cadastro {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #080718;
  }
  }
