<ion-content>
<div class="background">
  <div class="custom-button">
    <img src="../assets/img/botao-voltar.png" alt="Botão Voltar" />
  </div>

      <ion-label class="login-label">Faça o Login</ion-label>
      <ion-input class="email-input" label="E-mail" label-placement="floating" fill="outline" placeholder="Digite seu E-mail"></ion-input>
      <ion-input class="senha-input" type="password" label="Senha" label-placement="floating" fill="outline" placeholder="Digite sua senha"></ion-input>

      <div class="wrapper">      
        <div class="ion-activatable ripple-parent custom-parent">
          <b class="texto-login">Fazer Login</b>
          <ion-ripple-effect></ion-ripple-effect>
        </div>

        <div class="ion-activatable ripple-parent custom-ripple rounded-rectangle">
          <img class="google-logo" src="../assets/img/google-logo.png" alt="Logo do Google">
          <span class="text-google">Login com o Google</span>
          <ion-ripple-effect></ion-ripple-effect>
        </div>

        <b>Não tem uma conta?</b>
        
      </div>

      

    </div>
</ion-content>
