ion-tab-bar{
    padding:10px;
    background-color: #131417;
}

ion-tab-button{
    background: transparent;
    --color: #676D75;
    --color-selected: #219BDF;
    ion-label{
        color: #676D75;
        --color-selected: #219BDF;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 15px;
        font-weight: Bold !important;
    }
}