<ion-content [fullscreen]="true" style="--background: #16142C;">
  <p class="user-text">Olá, {{ nomeUsuario }}!👋</p>
  <p class="texto-fundo">Crie uma tarefa</p>

  <ion-button class="botao-criar" shape="round" (click)="abrirModal()">
    Criar
    <ion-icon name="add-circle-sharp"></ion-icon>
  </ion-button>

  <ion-list>
    <ion-item class="item-tarefa" *ngFor="let tarefa of tarefas">
      <ion-label label="Nome">{{ tarefa.nome }}</ion-label>
      <ion-label label="Prazo">{{ tarefa.prazo }}</ion-label>
      <ion-button (click)="concluirTarefa(tarefa)">Feito</ion-button>
      <ion-button (click)="editarTarefa(tarefa)">Editar</ion-button>
      <ion-button (click)="excluirTarefa(tarefa)">Excluir</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
