.container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centralizar horizontalmente */
    flex-direction: column; /* Para alinhar verticalmente */
}
.custom-button {
    position: absolute;
    left: 6.92%;
    right: 88.46%;
    top: 7.35%;
    bottom: 89.55%;
}
.ilustracao {
    position: absolute;
    width: 217px;
    height: 244px;
    left: calc(50% - 217px/2 + 0.5px);
    top: 150px;
}
.texto-introducao {
    position: absolute;
    width: 304px;
    height: 101px;
    left: calc(50% - 304px/2);
    top: 440px;
    
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    line-height: 34px;
    text-align: center;
    
    color: #FFFFFF;
}
.b {
    position: absolute;
    width: 304px;
    height: 101px;
    left: calc(50% - 304px/2);
    top: 501px;
    
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 34px;
    text-align: center;
    
    color: #FFFFFF;
}
ion-button {
    font-family: 'Be Vietnam Pro', sans-serif;
    position: absolute;
    width: 295px;
    height: 54px;
    left: calc(50% - 295px/2 - 0.5px);
    top: 693px;
    
    background: #5598BD;
    border-radius: 27px;
}