<ion-content class="ion-padding" style="--background: #16142C;">
  <div class="container">    
    
    <ion-buttons class="custom-button">
      <ion-back-button  defaultHref="bem-vindo2"></ion-back-button>
    </ion-buttons>

    <img class="ilustracao" src="../assets/img/ilustracao3.png" alt="">
    <ion-button (click)="irParaProximaPagina()">Próximo</ion-button>
  
    <p class="texto-introducao">Acesse ou crie sua conta e aproveite todos os recursos do <b>Do-ne</b></p>
  
  </div>
</ion-content>